@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.noticia {
    font-family: 'Press Start 2P', cursive;
    color: #F8F8FF;
    margin: 1em;
}

.noticia-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.noticia-texto {
    font-family: 'Courier New', Courier, monospace;
    color: #F8F8FF;
    display: inline;
    font-size: 1.3em;
}

.card-imagem__detalhes {
    display: inline-block;
    border: 1px solid  #F8F8FF;
    width: 10em;
    height: 15em;
    margin: 0 1em;
}

.card-imagem__principal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50em;
    height: 30em;
    margin: 2em auto;
    border: 1px solid  #F8F8FF;
}

.card-imagem__detalhes:hover {
    transition: transform .5s ease;
    transform: scale(1.01);
}

.card-imagem__principal:hover {
    transition: transform .5s ease;
    transform: scale(1.01);
}

.curtir {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.icone-like {
    font-size: 1em;
    padding: 0.3em;
    border-radius: 0.5em;
    border: 1px solid #F8F8FF;
    background-color: #1C1C1C;
    margin: 0 0.5em;
    width: 4em;
    cursor: pointer;
}

.icone-like:hover {
    transition: transform .5s ease;
    transform: scale(1.05);
}